<div class="register-container">
    <mat-card class="register-card">
        <mat-card-title>Inscription</mat-card-title>
        <br>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nom complet</mat-label>
                <input matInput type="text" formControlName="fullName" />

                @if (registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched) {
                <mat-error>Nom requis</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />

                @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched) {
                <mat-error>Email invalide</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Mot de passe</mat-label>
                <input matInput type="password" formControlName="password" />

                @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
                <mat-error>Mot de passe requis</mat-error>
                }
                @if (registerForm.get('password')?.errors?.['minlength'] && registerForm.get('password')?.touched) {
                    <mat-error>Minimum 8 caractères</mat-error>
                }
            </mat-form-field>

            <button
                mat-raised-button
                class="full-width"
                [disabled]="registerForm.invalid"
            >
                S'inscrire
            </button>
            <button
                mat-flat-button
                class="full-width"
                (click)="redirectToLogin()"
            >
                Se connecter
            </button>
        </form>
    </mat-card>
</div>
