<div class="login-container">
    <mat-card class="login-card">
        <mat-card-title>Connexion</mat-card-title>
        <mat-card-subtitle>Accédez à votre compte</mat-card-subtitle>
        <br>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />

                @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
                    <mat-error>Email invalide</mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Mot de passe</mat-label>
                <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                formControlName="password"
                />
                <button
                    mat-icon-button
                    matSuffix
                    type="button"
                    (click)="hidePassword = !hidePassword"
                    >
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>

                @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
                    <mat-error>Mot de passe requis</mat-error>
                }
            </mat-form-field>

            <button
                mat-raised-button
                color="primary"
                class="full-width"
                [disabled]="loginForm.invalid"
            >
                Se connecter
            </button>

        </form>
    </mat-card>
</div>